body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

div {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-shadow: 0 0 2px;
  color: white;
}

.title {
  margin-bottom: 0px;
  font-size: 75px;
}

.mail {
  font-size: 30px;
}
